body { 
  background-image: url(images/pexels-leeloo-thefirst-8177922.jpg); 
  background-size: cover; 
  margin: 0;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

@font-face {
  font-family: first-font;
  src: url(fonts/Caver\ Pitalsal.ttf);
}

.header {
  background-color: #ffe8e8;
  height: 7%; 
  inset: 0 0;
  position: absolute;
}

.pink-bar {
  animation: 1800ms 1s backwards pinkbar-slide;
  background-color: #ffe7e7bd;
  inset: 65% 0 0;
  height: 35%;
  position: absolute;
  width: 200%; /* I set this width and the width for the pink bar over 100% because after the animation, the page would shift down slightly without it. It works, but I'm not sure if it's good practice */
  z-index: -1;
}

h1 {
  font: 24px first-font;
  letter-spacing: 1px;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #ffffff;
}

h2 {
  animation: 2s h2-appear;
  color: rgb(255, 253, 253);
  font: 130px first-font;
  letter-spacing: 5px;
  margin-top: 10%;
  text-align: center;
  text-shadow: 4px 2px #000000;
}

.instruction-one { 
  animation: 2500ms instruction-slide;
  font: 32px first-font;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
}

.button {
  animation: 500ms ease-in 2s backwards button-appear;
  background-color: #ffd4d4;
  border: none;
  border-radius: 5%;
  font: 20px first-font; 
  margin: 9% 55% 25% 45%;
  padding: 1%;
  position: absolute;
  white-space: nowrap;
}

.button:hover {
  background-color: lightpink;
  transition-duration: 0.4s
}

.white-bar { 
  animation: 1500ms whitebar-slide;
  background-color: #ffffff6b;
  height: 50%;
  inset: 5% 0%;
  margin: 25% 0%;
  position: absolute;
  width: 200%;
  z-index: -2;
}

#certificate-container {
  background-color: #ffffff;
  border: double rgb(224, 165, 0);
  border-radius: 3%;
  height: 60%;
  margin: 7% 25%;
  position: absolute;
  width: 50%;
  z-index: -1;
}

#certificate-container.dark-theme {
  background-color: #4949496b;
  border: rgb(255, 255, 255) groove;
}

#certificate-container.gold-theme {
  background-color: #ebab3565;
  border: rgb(255, 255, 255) dashed;
}

#certificate-container.pink-theme {
  background-color: #ffdde3;
  border: rgb(255, 255, 255) dotted;
}

h2.title-two {
  animation: 2s h2-appear;
  color: rgb(255, 255, 255);
  font: 80px first-font;
  letter-spacing: 5px;
  margin-top: 5%;
  text-align: center;
  text-shadow: 4px 2px #000000;
}

.instruction-two {
  animation: 2500ms instruction-slide;
  font: 32px first-font;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
  padding: 0;
}

#output {
  font: 80px first-font;
  letter-spacing: 5px;
  margin-top: 9.5%;
  padding: 0%;
  text-align: center;
}

.sidebar-arrow {
  float:left;
  height: 25px;
  margin: 22% 1%;
  width: 25px;
}

.side-navigation {
  background-color: #ffd4d4;
  font-family: first-font;
  height: 100%;
  inset: 0 0;
  overflow-x: hidden;
  padding-top: 3%;
  position: fixed;
  width: 20%;
  z-index: 1;
}

.side-navigation .sidebar-title {
  font-size: 45px;
  margin: 10% 5% 15%;
  text-align: left;
}
  
.side-navigation button {
  border: rgb(224, 165, 0) double;
  border-radius: 5%;
  font: medium first-font;
  height: 15%;
  letter-spacing: 1.5px;
  margin: 0 17% 10%;
  width: 65%;
}

.side-navigation .template-one {
  background: #ffffff;
}

.side-navigation .template-two {
  background: #9b9b9b60;
  border: rgb(255, 255, 255) groove;
}

.side-navigation .template-three {
  background: #eecd90a1;
  border: rgb(255, 255, 255) dashed;
}

.side-navigation .template-four {
  background: #ffe8e8;
  border: rgb(255, 255, 255) dotted;
}

#mySidenavigation button:hover {
  color: rgba(0, 0, 0, 0.219)
}

.side-navigation .close-button {
  font-size: 36px;
  position: absolute;
  inset: 0 10% 100% 90%;
}
  
@media screen and (min-width: 350px) {
  .side-navigation {padding-top: 0;}
  .side-navigation a {font-size: 18px;}
}
  
@keyframes whitebar-slide{
  from {
    margin-top: 50%;
    }
  to {
    margin-top: 25%;
    }
}

@keyframes button-appear {
  from {
    opacity: 0%;
    }
  to {
    opacity: 100%;
    }
}
  
@keyframes instruction-slide {
  from {
    margin-left: 100%;
    width: 300%
    }
  to {
    margin-left: 0%;
    width: 100%
    }
} 
  
@keyframes h2-appear {
  from {
    opacity: 0%;
    }
  to {
    opacity: 100%;
    }
}
  
@keyframes pinkbar-slide {
  from {
    border-radius: 200px 0px 0px 200px;
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}